:root {
	--themeColor: #e71a1e;
	--boxShadow: rgba(0, 0, 0, 0.25);
	--tableShadow: rgba(109, 104, 99, 0.25);
	--black: #000000;
	--whiteInsideTheme: #ffffff;
	--invalid: rgb(246, 95, 95);
	--primaryDarkBorder: #504f4f;
	--primaryBorder: #d3d3d3;
	--primaryIconColor: #dddddd;
	--textColor: #444444;
	--formBorder: #d29437;
	--loginFormBorder: #dcdcdc;
	--labelColor: #676767;
	--mainBg: #faf5f0;
	--tableHeadBg: #fdf0e3;
	--tableBorder: #e7ddd3;
	--linkColor: #2c6eac;
	--importBoxBorder: rgba(103, 103, 103, 0.71);
	--disabledColor: #979797;
	--workOrderItemBg: #ededed;
	--diffByTwo: #ffcc00;
	--popUpBg: #fdefe2;
	--numericKeyBorder: #d8a16d;
	--grey: #a6a6a6;
	--tableAlternateRowColor: #ffffe7;
}
